body{
    background-color: #b3bac1;
    font-family:Arial,sans-serif;
    text-align:center;
}
h1{
    color:#2c3e50;
}
p{
    font-size:20px;
    color:#555;
}
a{
    text-decoration:none;
    color:blue;
    font-weight:bold;
}
img{
    margin-top: 20;
}